{% raw %}
{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3 mt-3">
        <h1 class="text-center">{% trans "Sign In" %}</h1>
        <p class="text-center">
            {% blocktrans %}
                Don't have an account? Then please <a href="{{ signup_url }}">Sign Up</a>.
            {% endblocktrans %}
        </p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock %}
{% endraw %}